:root{
    --branco-neve: #FFFFFF;
    --branco-cinza: #C0C0C0;
    --Azul: #167BF7;
    --fundo: #00030C; 
    --fonteprincipal: 'Inter';
    --azulclaro:#458fe9;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fundo);
    color: var(--branco-neve);
    font-family: var(--fonteprincipal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url("imagens/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao{
    display: block;
    background-color: var(--Azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-neve);
    text-decoration: none;
    margin-bottom: 1em;
}

.container_botao:hover{
    background-color: var(--azulclaro);
}

.botao2:hover{
    background-color: rgba(255, 255, 255, 0.336);
}

.botao2{
    background-color:transparent;
    border: 2px solid var(--branco-neve);
}

.container_aviso{
    font-size: 12px;
    color: var(--branco-cinza);
}

.container_titulo{
    font-size: 28px;
    font-weight: 700;
}

.container_img{
    margin: 1em 0 2em 0;
}

.container_caixa{
    margin: 0 6em;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao_titulo{
    font-weight: 700;
    font-size: 48px;    
    color: var(--branco-neve);
    margin-bottom: 0em;
}

.descricao_texto{
    color: var(--branco-cinza);
}

.secundario_botao{
    display: inline-block;
    margin-top: 1em;
}

.container_descricao{
    padding: 2em;
}

.lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos_titulo{
    font-size: 48px;
    color: var(--branco-neve);
}

.lista_item{
    font-size: 32px;
    color: var(--branco-neve);
}

.footer{
    margin: 10em 0em;
    text-align: center;
}

.footer>*{
    margin-top: 2em;
}

.footer_lista{
    display: flex;
    justify-content: center;
    list-style: none;
}

.lista_link>a{
    font-size: 16px;
    color: var(--branco-neve);
    text-decoration: none;
    margin: 0 1em;
}

.logo{
    align-self: center;
}

.footer_texto{
    color: var(--branco-cinza);
    font-size: 14px;
}

.lista_link>a:hover{
    color: var(--Azul)
}